<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My Board Games</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <nav>
        <ul id="navBar">
            <a href="/">
                <li>Home</li>
            </a>
            <a href="/games/new">
                <li>Add Game</li>
            </a>
            <a href="/games">
                <li>View Games</li>
            </a>
        </ul>
    </nav>
    
