
<%- include ./partials/header.ejs %>

  <h1>This is the home route!</h1>
  <div>
    <a class="other-link" href="/games/new">Add New Game</a>
    <a class="other-link" href="/games">List All Games</a>
  </div>

<%- include ./partials/footer.ejs %>
