
<%- include ./partials/header.ejs %>

  <div>
    <h1>My Board Games</h1>
    <p>Browse on for info on the best boardgames around.</p>
  </div>
  <div>
    <a href="/">Home</a> | 
    <a href="/games/new">Add New Game</a> | 
    <a href="/games">List All Games</a>
  </div>

<%- include ./partials/footer.ejs %>
