body {
  background: lavender;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: helvetica, sans-serif;
  color: white;
  text-align: center;
}

div {
  background-color: rgba(255,255,255,0.3);
  border: solid rebeccapurple 1px;
  margin: 0 auto;
  padding: 1em;
  border-radius: 15px;
  width: 30%;
}
