body {
  background: url('/img/background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

nav {
  /* position: absolute;
  top: 30px;
  right: 0; */
}

h1 {
  text-align: center;
  height: 50px;
  width: 35%;
  margin: 0 auto;
  border-radius: 5px;
  background: rgba(212, 112, 48, 0.73);
  color: white;
}

a {
  color: white;
  text-decoration: none;
  margin: 0 5px;
}

.other-link {
  color: #bd168c;
  font-weight: bold;
  font-size: 18px;
}

.other-link:hover {
  border-bottom: 3px solid #bd168c;
}

ul {
  background: rgba(104, 226, 127, 0.8);
  width: 30%;
  border-radius: 5px;
}

li {
  list-style: none;
  margin: 10px;
  font-size: 20px;
}

p {
  background: rgba(104, 226, 127, 0.8);
  color: white;
}

.game-link:hover {
  color: #333;
  font-weight: bold;
}

div {
  background-color: white;
  border: solid black 1px;
  margin: 1em;
  padding: 1em;
}

@keyframes twist {
  35% {transform: rotate(15deg);}
  70% {transform: rotate(-15deg);}
}
