body {
  background: url('/img/background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

div {
  background-color: white;
  border: solid black 1px;
  margin: 1em;
  padding: 1em;
}
