
<%- include ../partials/header.ejs %>

  <h1>All of My Games</h1>
  <ul>
    <% games.forEach(function(game){ %>
      <li><%= game.dataValues.name %>: <%= game.dataValues.description %></li>
    <% }); %>
  </ul>

<%- include ../partials/footer.ejs %>
