
<%- include ../partials/header.ejs %>

  <h1>Add New Game</h1>
  <form method="POST" action="/games">
    <input type="text" name="name" placeholder="Enter a game..">
    <input type="text" name="description" placeholder="Enter description..">
    <input type="submit" name="submit">
  </form>

<%- include ../partials/footer.ejs %>
