<%- include ../partials/header.ejs %>

  <h1>Add New Game</h1>

  <form method='POST' action='/games'>
    <input type="text" name="name" placeholder="Enter a game name...">
    <input type="text" name="description" placeholder="Enter a description...">
    <input type="submit" value="Add new game">
  </form>

<%- include ../partials/footer.ejs %>
