<%- include ../partials/header %>

<div id="center-container">
  <div>
    <form method="post" action="/games">
      <input type="text" name="name" placeholder="Name of the game">
      <input type="text" name="description" placeholder="Game description">
      <input type="submit" class="waves-effect waves-light green accent-3 btn" value="Add Game">
    </form>
  </div>
</div>


<%- include ../partials/footer %>
