<%- include ../partials/header.ejs %>
<%- include ../partials/nav.ejs %>
<div class="">
  <h1>Enter New Game</h1>
  <form method='POST' action="/games">
      <input type="text" name="name" placeholder="Enter Game Name" required>
      <input type="text" name="description" placeholder="Enter Game Description" required>
      <input type="submit" name="" value="Submit New Game">
  </form>
</div>
<%- include ../partials/footer.ejs %>
