<%- include ../partials/header.ejs %>

  <h1>Add New Game</h1>

  <form action="/games" method="post">
    <input type="text" name="name" placeholder="Enter a game name...">
    <input type="text" name="description" placeholder="Enter a game description...">
    <input type="submit" value="Add new game">
  </form>

<%- include ../partials/footer.ejs %>
